DB_HOST=<Your Database Host>
DB_USER=<Your Database User>
DB_PASS=<Your Database Password>
DB_NAME=<Your Database Name>
JWT_SECRET=<Your JWT Secret>
SENDGRID_API_KEY=<Your SendGrid API Key>
AWS_ACCESS_KEY_ID=<Your AWS Access Key ID>
AWS_SECRET_ACCESS_KEY=<Your AWS Secret Access Key>
AWS_BUCKET_NAME=<Your AWS Bucket Name>
